@font-face {
    font-family: 'PingFangMedium';
    src: url('PingFang_Medium.ttf');
}

@font-face {
    font-family: 'AvenirMedium';
    src: url('Avenir-Medium.ttf');
}

@font-face {
    font-family: 'PingFangRegular';
    src: url('PingFang-Regular.ttf');
}
@font-face {
    font-family: 'AvenirNext-Regular';
    src: url('Avenir-Regular.ttf');
}

@font-face {
    font-family: 'AvenirNext-DemiBold';
    src: url('Avenir-DemiBold.ttf');
}

@font-face {
    font-family: 'AvenirNext-Bold';
    src: url('Avenir-Bold.ttf');
}

